.foto-Caja {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.foto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
    object-fit: cover;
}

.foto-Real {
    opacity: 1;
}

.foto-Jojo {
    opacity: 0;
}

/* Hover */
.foto-Caja:hover .foto-Real {
    opacity: 0;
}

.foto-Caja:hover .foto-Jojo {
    opacity: 1;
}
